<div class="author-info outer">
    <div class="inner">
    
        <a href="/" class="info-avatar">
            <img src="<%- theme.avatar %>" alt="">
        </a>
        <div class="info-content">
            <h1 class="author-name">
                Sytone
            </h1>
            <h2 class="author-bio">
                Web DeveloperWebWeb DeveloperWebWeb DeveloperWeb
            </h2>
            <div class="author-social">
                <% for (var key in theme.social) { %>
                    <a href="<%= theme.social[key] %>">
                        <i class="fa fa-<%= key %>" aria-hidden="true"></i>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="container list-container">
    <main class="post-list">
        <% page.posts.each(function(post) { %>
            <%- partial('_partial/post-item', { post }) %>
        <% }) %>
    </main>
    <%- partial('_partial/pager', { page }) %>
</div>