<header class="post-header">
    <h1 class="post-title">
        <%= post.title %>
    </h1>
    <p class="post-meta">
        <span>
            <%= post.date.format(config.date_format) %>
        </span>
        <% if(page.tags.length > 0) { %>
            <span class="meta-divider">/</span>
            <span>
                <% page.tags.forEach(function (tag) { %>
                    <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                <% }) %>
            </span>
        <% } %>
    </p>
</header>

<article class="post outer">
    <div class="inner">
        <section class="post-content">
            <%- post.content %>
        </section>
    </div>
</article>